# ------------------------------------------------------------------------------
#           Eurofurence Registration System configuration defaults
# ------------------------------------------------------------------------------

# deployment configuration
global: {}

ingress:
  enable: false
  tls:
    enable: false

# system configuration
system:
  registration_languages: []

  public_base_url_domain: https://example.com
  public_base_context: ''

  labels:
    # make sure app is unique if deploying multiple instances
    app: regsys

  logging:
    severity: INFO
    style: ecs

  components:
    attendee_service:
      enable: true
      local_base_url: http://attendee-service:8080
      require_login_for_reg: true
      dues:
        due_days: 14
      birthday:
        earliest: '1901-01-01'
      docker:
        registry: ghcr.io
        repository: eurofurence/reg-attendee-service
        tag: latest
      labels:
        service: attendee-service
      replicas: 1
      limits:
        memory: 512Mi
      requests:
        memory: 64Mi

    auth_service:
      enable: true
      local_base_url: http://auth-service:8080
      id_token_cookie_name: 'JWT'
      access_token_cookie_name: 'AUTH'
      user_info_cache_seconds: 10
      cookie_expiry: 6h
      docker:
        registry: ghcr.io
        repository: eurofurence/reg-auth-service
        tag: latest
      labels:
        service: auth-service
      replicas: 1 # do NOT increase before adding redis for in-memory flow cache
      limits:
        memory: 512Mi
      requests:
        memory: 64Mi

    mail_service:
      enable: true
      local_base_url: http://mail-service:8080
      log_only: false
      dev_mode: false
      docker:
        registry: ghcr.io
        repository: eurofurence/reg-mail-service
        tag: latest
      labels:
        service: mail-service
      replicas: 1
      limits:
        memory: 512Mi
      requests:
        memory: 64Mi

    paygate_adapter:
      enable: false
      local_base_url: http://paygate-adapter:8080
      log_full_requests: true
      docker:
        registry: ghcr.io
        repository: eurofurence/reg-paygate-adapter
        tag: latest
      labels:
        service: paygate-adapter
      replicas: 1
      limits:
        memory: 512Mi
      requests:
        memory: 64Mi

    payment_service:
      enable: true
      local_base_url: http://payment-service:8080
      docker:
        registry: ghcr.io
        repository: eurofurence/reg-payment-service
        tag: latest
      labels:
        service: payment-service
      replicas: 1
      limits:
        memory: 512Mi
      requests:
        memory: 64Mi

    regsys_classic:
      enable: true
      context_path: regsys
      docker:
        registry: ghcr.io
        repository: eurofurence/reg-regsys-classic
        tag: latest
      labels:
        service: regsys-classic
      replicas: 1
      limits:
        memory: 512Mi
      requests:
        memory: 256Mi

    room_service:
      enable: false
      local_base_url: http://room-service:8080
      max_group_size: 6
      #
      # the mode of room management this convention employs.go_live:
      #
      # off (default) = room management features are completely disabled.
      #
      #   Completely hides all relevant pages and options, only displays a few simple
      #   messages in some places.
      #
      #   typical usecase: private party, housemeet, pay-at-the-door
      #
      # external = the venue handles all room bookings directly
      #
      #   The only feature the room service offers is an API endpoint with a countdown
      #   until revealing a secret codeword. Staff can have a different secret codeword
      #   and a different reveal time.
      #
      #   See the go_live section to configure the secret codewords.
      #
      #   The idea is that you show an info page to accepted attendees called "how to book a room".
      #
      #   Email generator standalone page: https://github.com/eurofurence/reg-hotel-booking
      #   (not maintained any more because Eurofurence does not currently need it)
      #
      # packages = sell accomodation as packages
      #
      #   Note: currently somewhat unfinished because none of the current conventions use this mode.
      #
      #   Use this when the convention is reselling individual rooms or beds
      #     - allows individual pricing of room options
      #     - attendees enter their roommate ids in their registration
      #       (currently not implemented)
      #     - rooms can be maintained in the database
      #     - packages become unavailable when their quota is exceeded
      #       (currently not implemented)
      #
      #   In this mode, you can go wild with accommodation packages.
      #
      #   typical usecase: small hotels (large hotels will often force you to use their booking provider)
      #
      # groups = attendees can form room sharing groups which are then assigned to rooms by staff
      #
      #   Use this when you want staff to have fine-grained control over room assignments
      #     - staff needs to watch that the number of accepted attendees does not exceed available beds
      #     - staff needs to enter available rooms in the registration system
      #     - staff needs to do room assignment into actual rooms prior to the convention
      #     - conventions can track keys given to the attendees during onsite check-in
      #     - individual pricing of room options is not directly supported, but with a trick you can do it anyway:
      #       simply add regular sales packages with the various room prices. If you do this, staff will need to
      #       manually ensure no-one unintentionally gets a room they haven't paid for.
      #
      #   typical usecase: youth hostels (the price of registration automatically includes a bed)
      #
      mode: 'off' # external, packages, groups
      group_flags:
        - public
      room_flags:
        - handicapped
        - final
      docker:
        registry: ghcr.io
        repository: eurofurence/reg-room-service
        tag: latest
      labels:
        service: room-service
      replicas: 1
      limits:
        memory: 512Mi
      requests:
        memory: 64Mi

    frontend:
      enable: true
      docker:
        registry: ghcr.io
        repository: eurofurence/reg-frontend
        tag: latest
      labels:
        service: frontend
      replicas: 1
      limits:
        memory: 512Mi
      requests:
        memory: 256Mi

    onsite:
      enable: false
      docker:
        registry: ghcr.io
        repository: eurofurence/reg-onsite-ui
        tag: latest
      labels:
        service: onsite
      replicas: 1
      limits:
        memory: 512Mi
      requests:
        memory: 64Mi

  database:
    use: 'inmemory'
    username: 'demouser'
    database: 'tcp(localhost:3306)/dbname'
    parameters:
      - 'charset=utf8mb4'
      - 'collation=utf8mb4_general_ci'
      - 'parseTime=True'
      - 'timeout=30s' # connection timeout

# business configuration
choices:
  flags:
    # minimum flags required for correct system operation (logic depends on them)
    terms-accepted:
      description: 'Accepted the terms'
      default: true
      read_only: true
    guest:
      description: 'Guest of the Convention'
      admin_only: true
      visible_for:
        - self
    skip_ban_check:
      description: 'Bypass ban check for this attendee'
      admin_only: true
  packages: {}
  options: {}
  tshirtsizes: []
  spoken_languages: []
  countries: []
  additional_info_areas:
    # minimum entries required for correct system operation (logic depends on them)
    regdesk:
      permissions:
        - regdesk
    sponsordesk:
      permissions:
        - sponsordesk
  find_api_access:
    permissions:
      # minimum entries required for correct system operation
      - regdesk
      - sponsordesk
# development only - do NOT enable any of this for production, or you'll make the system insecure.
development:
  cors:
    disable: false
  security:
    insecure_cookies: false
    disable_http_only_cookies: false
